*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans";
    color: #000;
}
/*--------------HEADER------------*/
header{
    background-image: url(../img/grupal.jpg);
    height: 800px;
    background-size: cover;
}
header .sumate{
    text-decoration: none;
    background-color: #dea71b;
    padding: 10px 20px;
    border-radius: 3px;
    position: absolute;
    top: 60px;
    left: 100px;
    color: #000;
}
header .sumate:hover{
    padding: 15px 25px;
    transition: 500ms all;
}
header img{
    width:40%;
    position: absolute;
    right: 400px;
    top: 100px;
}
header ul{
    float: right;
    position: absolute;
    right: 120px;
    top: 60px;
}
header ul li{
    display: inline-block;
    padding: 10px;
}
header li a{
    text-decoration: none;
     color: #000;
    font-size: 17px;
}
header li:hover{
    background-color: #dea71b;
}

/*-----------------------SECTION--------------------------------*/
section img{
    width: 100%;
}
.block {
    margin: 20px auto;
    width: 1000px;
    height: 250px;
}
.block  a{
    font-weight: bold;
    font-family: arial;
    display: block;
    font-size: 20px;
    text-decoration: none;
}
.block .span4 a:nth-child(2){
    margin: 10px 0;
    color: #000;
}
.block .span4 a:hover{
    padding: 5px;
}
/*--------------------------------------------------------------------------------FOOTER*/

footer{
    background-color:#272020;
}
footer p{
    color: #fff;
    padding: 20px;
}

